{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Consulta registro visitantes</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
            {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtro de busqueda</div>
            <div class="panel-body">
                <div     class="form-group form-group-sm">
                    <label for="TxtNumeroIdentificacion" class="col-sm-2 control-label">Visitante:</label>
                    <div class="col-sm-10">
                        <div class="row">
                          <div class="col-lg-2">
                            <div class="input-group">
                              {{ form_widget(form.TxtNumeroIdentificacion, { 'attr': {'class': 'form-control'} }) }}                              
                            </div>
                          </div>
                          <div class="col-lg-10">
                            <div class="input-group">     
                              {{ form_widget(form.TxtNombreVisitante, { 'attr': {'class': 'form-control', 'readOnly': 'ReadOnly'} }) }}                              
                              <span class="input-group-btn">                                        
                                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('buscar_visitante', { 'campoCodigo': 'form_TxtNumeroIdentificacion', 'campoNombre': 'form_TxtNombreVisitante' }) }}', 'buscarVisitante', 600, 900)">Buscar</a>
                              </span>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>                
                <div class="form-group form-group-sm">  
                    <label for="form_fechaDesde" class="col-sm-2 control-label">Desde:</label>
                    <div class="col-sm-4">  
                        {{ form_widget(form.fechaDesde) }}
                    </div> 
                    <label for="form_grupoRel" class="col-sm-2 control-label">Grupo:</label>
                    <div class="col-sm-4">                  
                        {{ form_widget(form.grupoRel , { 'attr': {'class': 'form-control'} }) }}
                    </div>                    
                </div>                              
                <div class="form-group form-group-sm">  
                    <label for="form_fechaHasta" class="col-sm-2 control-label">Hasta:</label>
                    <div class="col-sm-4">   
                        {{ form_widget(form.fechaHasta) }}
                    </div>
                    <label for="form_estadoFacturado" class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">                  
                        
                    </div>                    
                </div>
                <div class="form-group form-group-sm">  
                    <label for="form_TxtNumero" class="col-sm-2 control-label">Filtrar por fecha:</label>
                    <div class="col-sm-4"> 
                        {{ form_widget(form.filtrarFecha) }}
                    </div>
                    <label for="form_estadoAnulado" class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">                                          
                    </div>                    
                </div>                    
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>                                                    
            </div>
        </div> 
        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>CLIENTE</th>
                <th>GRUPO</th>
                <th>IDENTIFICACION</th>
                <th>NOMBRE</th>
                <th>ARL</th>
                <th>ENTRADA</th>
                <th>SALIDA</th>                
            </tr>
            {% for arRegistros in arRegistros %}
            {% if arRegistros.arlVencida == 1 %}
                <tr class="danger">
            {% else %}
                <tr>
            {% endif %}
                <input type="hidden" name="LblCodigo[]" value="{{ arRegistros.codigoRegistroPk }}">
                <td>{{ arRegistros.clienteRel.nombre  }}</td>
                <td>{{ arRegistros.grupoRel.nombre  }}</td>
                <td>{{ arRegistros.visitanteRel.numeroIdentificacion  }}</td>
                <td>{{ arRegistros.visitanteRel.nombre  }}</td>
                <td>{{ arRegistros.fechaArl |date("Y/m/d")  }}</td>
                <td>{{ arRegistros.fechaEntrada |date("Y/m/d H:i")  }}</td>
                {% if arRegistros.estadoSalida == 1 %}
                    <td>{{ arRegistros.fechaSalida |date("Y/m/d H:i")  }}</td>
                {% else %}                    
                    <td>SIN SALIDA</td>
                {% endif %}                    
                
            </tr>
            {% endfor %}
        </table>
        <div class="btn-toolbar" style="float: left">
            <div class="btn-group">
                {{ knp_pagination_render(arRegistros) }} 
            </div>
            <div class="btn-group">
                <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arRegistros.getTotalItemCount }}</span></div>        
            </div>
        </div>                
        <div class="btn-toolbar" style="float: right">                 
            <div class="btn-group">                
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
            </div>
        </div>        
        {{ form_rest(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}
