<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Visitante{% endblock %}</title>        
        {% block stylesheets %}
            <link href="{{ asset('bootstrap-3.3.5-dist/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />   
            <link href="{{ asset('css/general.css') }}" rel="stylesheet" />
        {% endblock %}  
        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.js') }}"></script>
            <script src="{{ asset('bootstrap-3.3.5-dist/js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/general.js') }}"></script>
        {% endblock %}        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {{ render(controller('AppBundle:Default:menu')) }}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div id="error" class="alert alert-danger fade in" >
                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                     <p>{{ flashMessage }}</p>
                 </div> 
            {% endfor %}            
            {% block content %}
 
            {% endblock %}            
        {% endblock %}        
    </body>
</html>
