{% extends '::base_sin_menu.html.twig' %}
{% block title %}Buscar recurso - Soga App{% endblock %}
{% block content %}
<div class="container">
    <script language="javascript">
        function selTercero(codigo,nombre,campoCodigo,campoNombre)
        {
            opener.document.getElementById(campoCodigo).value = codigo;
            opener.document.getElementById(campoNombre).value = nombre;
            opener.document.getElementById(campoCodigo).focus();
            self.close();
        }        
    </script>    
    <div class="page-header">
        <h3>Buscar visitante</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}                
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">  
                    <label for="form_TxtNumeroIdentificacion" class="col-sm-2 control-label">Identificacion:</label>
                    <div class="col-sm-4">                  
                        {{ form_widget(form.TxtNumeroIdentificacion , { 'attr': {'class': 'form-control'} }) }}
                    </div> 
                    <label for="form_grupoRel" class="col-sm-2 control-label">Grupo:</label>
                    <div class="col-sm-4">                  
                        {{ form_widget(form.grupoRel , { 'attr': {'class': 'form-control'} }) }}
                    </div>                    
                </div>
                <div class="form-group form-group-sm">  
                    <label for="form_TxtNombre" class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.TxtNombre , { 'attr': {'class': 'form-control'} }) }}
                    </div>                    
                    <label for="form_TxtCodigo" class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">                        
                    </div>                   
                </div>                      
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>                                                    
            </div>
        </div>        
        <table  class="table table-striped table-bordered table-condensed table-hover">            
            <tr>
                <th>{{ knp_pagination_sortable(arVisitantes, 'CÓDIGO', 'e.codigoVisitantePk') }}</th>
                <th>GRUPO</th>
                <th>IDENTIFICACION</th>
                <th>{{ knp_pagination_sortable(arVisitantes, 'NOMBRE', 'e.nombre') }}</th>   
                <th>ARL</th>
                <th></th>
            </tr>
            {% for arVisitantes in arVisitantes %}
            <tr>
                <td><input type="hidden" name="LblCodigo[]" value="{{ arVisitantes.codigoVisitantePk }}">{{ arVisitantes.codigoVisitantePk }} </td>
                <td>{{ arVisitantes.grupoRel.nombre  }}</td>
                <td>{{ arVisitantes.numeroIdentificacion  }}</td>
                <td>{{ arVisitantes.nombre }}</td>
                <td>{{ arVisitantes.fechaArl |date('Y/m/d') }}</td>
                <td style="text-align: center"><a href="javascript:selTercero('{{ arVisitantes.numeroIdentificacion }}','{{ arVisitantes.nombre }}','{{ campoCodigo }}','{{ campoNombre }}')" ><img src="{{ asset('imagenes/bootstrap/glyphicons_198_ok.png') }}" width=20 height=20></a></td>                                                
            </tr>
            {% endfor %} 
        </table>                                         
                  

        <!-- Botones Menu Items -->
        <div class="btn-toolbar">            
            <div class="btn-group" style="float: left">
                <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arVisitantes.getTotalItemCount }}</span></div>                        
            </div>     
            <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
                    {{ knp_pagination_render(arVisitantes) }}       
            </div>            
        </div>          
        <!-- Fin Botones Menu Items -->
        {{ form_rest(form) }}
    {{ form_end(form) }}   
    
</div>
{% endblock %}
