{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Usuarios</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
            {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">          
                <div class="form-group form-group-sm">  
                    <label for="form_TxtNumero" class="col-sm-2 control-label">Numero:</label>
                    <div class="col-sm-10">                  
                        {{ form_widget(form.TxtNumero, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>                                                             
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>                                                    
            </div>
        </div> 
        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>CÓDIGO</th>
                <th>ROL</th>
                <th>USUARIO</th>
                <th>CLIENTE</th>
                <th></th>
                <th></th>                
            </tr>
            {% for arUsuarios in arUsuarios %}
            <tr>
                <td><input type="hidden" name="LblCodigo[]" value="{{ arUsuarios.id }}">{{ arUsuarios.id }} </td>
                <td>{% if arUsuarios.roles == "ROLE_ADMIN" %}ADMINISTRADOR{% else %}USUARIO{% endif %}</td>
                <td>{{ arUsuarios.username  }}</td>
                <td>{{ arUsuarios.clienteRel.nombre | default('')  }}</td>
                <td style="text-align: center"><a href="{{ path('administrador_usuario_nuevo',{'codigoUsuario': arUsuarios.id})}}"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar el registro"></a></td>
                <td style="text-align: center"><a href="{{ path('administrador_usuario_cambiar_clave',{'codigoUsuario': arUsuarios.id})}}"><img src="{{ asset('imagenes/bootstrap/glyphicons_240_rotation_lock.png') }}" width=20 height=20 title="Cambiar clave"></a></td>                
            </tr>
            {% endfor %}
        </table>
        <div class="btn-toolbar" style="float: left">
            <div class="btn-group">
                {{ knp_pagination_render(arUsuarios) }} 
            </div>
            <div class="btn-group">
                <div class="btn btn-default btn-sm">Pagos <span class="badge">{{ arUsuarios.getTotalItemCount }}</span></div>        
            </div>
        </div>                
        <div class="btn-toolbar" style="float: right">                 
            <div class="btn-group">                
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
            </div>
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('administrador_usuario_nuevo', {'codigoUsuario': 0}) }}">Nuevo usuario</a>                
            </div>            
        </div>
            
        
        {{ form_rest(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}
