{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

    <h3>Nuevo usuario</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">                              
            <div class="form-group form-group-sm">
                <label for="form_username" class="col-sm-2 control-label">Usuario:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.username, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">
                <label for="form_password" class="col-sm-2 control-label">Clave:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.password, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div> 
            <div class="form-group form-group-sm">
                <label for="form_email" class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.email, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>  
            <div class="form-group form-group-sm">
                <label for="form_clienteRel" class="col-sm-2 control-label">Cliente:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.clienteRel, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>                
    </div>                
    <div class="modal-footer">     
            <a class="btn btn-default btn-sm" href="{{ path('administrador_usuario') }}">Cancelar</a>        
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}            
    </div>    
    {{ form_end(form) }}
</div>
{% endblock %}